#title {
    margin-top: 50px;
    text-align: center;
    color: cadetblue;
}

#message {
    margin-top: 15px;
    text-align: center;
    color: crimson;
}

.frame {
    flex: 50%;
}

#allElements {
    background: beige;
    width: 700px;
    height: max-content;
    position: relative;
    margin: auto;
    border-radius: 10px;
}

#lists {
    margin-left: 100px;
    margin-right: -100px;
}

#myTab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#tasksOfList {
    text-align: center;
}


#showTasks > label {
    display: flex;
}

#showTasks {
    margin-top: 20px;
    margin-left: 198px;
}

.frame2 {
    margin-top: 40px;
    margin-left: 198px;
}

#listTitle{
    color: cadetblue;
}

body{
    background: darkgrey;
}